language: java
jdk: openjdk10

branches:
  except:
  - /^v\d/

before_install:
# https://github.com/travis-ci/travis-ci/issues/8408
  - unset _JAVA_OPTIONS

install:
  - chmod u+x gradlew

script:
  - ./gradlew build --scan && ./gradlew ciPerformRelease
